dash
dash[diskcache, flask]
dash-daq
dash-bootstrap-components
polars
pyarrow
h5py
numpy
pandas
kaleido
diskcache
# Already pulled in by dash[diskcache], but named here because app_config picks
# the start method background callback workers are created with.
multiprocess
orjson
waitress
flaskwebgui
typing-extensions
# Bundles a static ffmpeg, used to transcode camera streams a browser cannot play.
imageio-ffmpeg
