dash
dash[diskcache, flask]
dash-daq
dash-bootstrap-components
polars
pyarrow
h5py
numpy
pandas
kaleido
diskcache
orjson
waitress
flaskwebgui
typing-extensions
# Ingest-time only: bundles a static ffmpeg used to encode camera mp4 streams.
imageio-ffmpeg
