dash
dash[diskcache, flask]
dash-daq
dash-bootstrap-components
polars
pyarrow
h5py
numpy
pandas
kaleido
diskcache
orjson
waitress
flaskwebgui
typing-extensions
# Bundles a static ffmpeg, used to transcode camera streams a browser cannot play.
imageio-ffmpeg
